<div
  class="ww-flex-column"
  style="
    padding-top: 30px;
    justify-items: space-between;
    align-items: center;
    gap: 40px;
  "
  *ngIf="isLoggedIn"
>
  <div class="ww-flex-column" style="gap: 10px">
    <a class="ww-nav-a" routerLink="/cast-vote">Cast Vote</a>
    <a class="ww-nav-a" routerLink="/friend">Friends</a>
    <a class="ww-nav-a" routerLink="/preference">Preferences</a>
    <a class="ww-nav-a" routerLink="/group">Groups</a>
    <a class="ww-nav-a" routerLink="/category">Categories</a>
    <a class="ww-nav-a" routerLink="/item">Items</a>
    <a class="ww-nav-a" routerLink="/image">Images</a>
    <a class="ww-nav-a" routerLink="/list">Lists</a>
    <a class="ww-nav-a" routerLink="/election">Elections</a>
    <div *ngIf="isAdmin" class="ww-flex-column" style="gap: 10px;">
      <a class="ww-nav-a" routerLink="/user">Users</a>
      <a class="ww-nav-a" routerLink="/role">Roles</a>
    </div>
    <a
      class="ww-nav-a"
      style="background-color: #aa0000; color: white"
      routerLink="/auth"
      >Logout</a
    >
  </div>
</div>
