<app-modal-alert
  *ngIf="alertBox.errorMessage"
  [message]="alertBox.errorMessage"
  (close)="alertBox.onCloseAlert()"
></app-modal-alert>
<div class="ww-flex-column" style="gap: 5px">
  <div class="ww-page-header-title">Statistics</div>
  <div *ngIf="!currentElection">
    <div class="ww-label">No statistics available</div>
  </div>
  <div *ngIf="currentElection">
    <div class="ww-info-block-title">{{ currentElection.name }}</div>
    <div *ngIf="!statsAvailable">
      <div class="ww-label">No statistics available</div>
    </div>
    <div
      *ngIf="statsAvailable && sheets"
      class="ww-flex-column"
      style="gap: 20px; height: 70svh; overflow-y: scroll"
    >
      <div *ngFor="let sheet of sheets">
        <div *ngIf="sheet" style="max-width: 90dvw">
          <div class="ww-info-block-title">{{ sheet.label }}</div>
          <div style="width: 90svw">
            <div
              style="
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: repeat(5, 20%);
              "
            >
              <div>&nbsp;</div>
              <div class="ww-page-header-title">Yes</div>
              <div class="ww-page-header-title">No</div>
              <div class="ww-page-header-title">Maybe</div>
              <div class="ww-page-header-title">Pending</div>
            </div>
            <div
              *ngFor="let item of sheet.statistics"
              style="
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: repeat(5, 20%);
                border: 1px solid black;
              "
            >
              <span style="text-align: right; font-size: 1ch">{{
                item.label
              }}</span>
              <span
                *ngFor="let stat of item.dataPoints"
                style="
                  text-align: center;
                  min-width: 20%;
                  font-size: 0.6rem;
                  border-left: 1px solid black;
                  align-content: center;
                "
              >
                {{ stat.value }} {{ stat.unit }} ({{ stat.percentage }}%)
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Button Panel -->
    <div class="ww-flex-row ww-default-button-panel">
      <button type="button" (click)="onCancel()">Back</button>
    </div>
</div>
