<app-modal-dialog
  *ngIf="confirmDialog.isVisible"
  [message]="confirmDialog.message"
  (close)="confirmDialog.onCloseClick()"
  (yesAction)="confirmDialog.onYesClick()"
  (noAction)="confirmDialog.onNoClick()"
></app-modal-dialog>
<app-modal-alert
  *ngIf="alertBox.errorMessage"
  [message]="alertBox.errorMessage"
  (close)="alertBox.onCloseAlert()"
></app-modal-alert>
<app-context
  [options]="contextMenu.options"
  [objectId]="contextMenu.objectId"
  (clickAway)="contextMenu.hide()"
  [objectId]="contextMenu.objectId"
  [objectData]="contextMenu.objectData"
  [show]="contextMenu.showMenu"
  [divTop]="contextMenu.top"
  [divLeft]="contextMenu.left"
></app-context>
<app-modal-loader *ngIf="loader.loading"></app-modal-loader>
<div class="ww-flex-column" style="min-width: 100%; gap: 5px">
  <div class="ww-flex-row">
    <div class="ww-page-header-title ww-flex-grow">Categories</div>
    <button (click)="onAdd()">Add</button>
  </div>
  <!-- Filter Input Box -->
  <div class="ww-flex-row" style="min-width: 100%; justify-content: center">
    <form [formGroup]="filter.form" #f="ngForm">
      <label for="filterInput">Filter</label>
      <div class="ww-flex-row">
        <input
          type="text"
          id="filterString"
          formControlName="filterString"
          (input)="filter.onChange($event)"
          style="min-width: 90%"
        />
        <button type="button" (click)="filter.onReset()">X</button>
      </div>
    </form>
  </div>

  <!-- Page Buttons -->
  <div class="ww-flex-row" style="justify-content: space-between">
    <button
      type="button"
      [disabled]="!pages.hasPrevPage"
      (click)="pages.onPrevPage()"
      class="ww-button ww-button-regular"
    >
      &#8592;
    </button>
    <span style="text-align: center">{{ pages.currentPage }}</span>
    <button
      type="button"
      [disabled]="!pages.hasNextPage"
      (click)="pages.onNextPage()"
      class="ww-button ww-button-regular"
    >
      &#8594;
    </button>
  </div>

  <!-- Selection List -->
  <div class="ww-flex-column ww-select-container">
    <div
      *ngFor="let category of categories; let i = index"
      (click)="onSelect(i)"
      class="ww-flex-row ww-card"
    >
      <div
        class="ww-flex-row"
        style="
          justify-content: space-between;
          flex-grow: 1;
          padding-right: 10px;
        "
      >
        <div class="ww-avatar-container">
          <div class="ww-avatar-initial">
            {{ category.name.substr(0, 1) }}
          </div>
        </div>
        <div class="ww-info-block">
          <div class="ww-info-block-title">
            {{ category.name }}
          </div>
          <div class="ww-info-block-text ww-truncate-30">
            {{ category.description }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Button Panel -->
  <div class="ww-flex-row ww-default-button-panel">
    <button type="button" (click)="onCancel()">Back</button>
  </div>
</div>
